body{
    text-align: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }
.myappointment
{
    cursor: pointer;

}
.myappointment:hover{color:blue}
.expandable {
  background: #fff;
  overflow: hidden;
  color: #000;   
  line-height: 50px;

  transition: all .5s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0);
 }
 
 .expandable:target {
  transform: scaleY(1);
}