body{
    text-align: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }
.myappointment
{
    cursor: pointer;

}
.myappointment:hover{color:blue}
.expandable {
  background: #fff;
  overflow: hidden;
  color: #000;   
  line-height: 50px;

  transition: all .5s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0);
 }
 
 .expandable:target {
  transform: scaleY(1);
}
.popup{
  
  width: 50%;
  border-radius: 15px;
  top: 50%;
  background-color:rgb(173, 155, 106) ;

  padding: 12px;
  text-align: center;
  position:sticky;
  margin: 10px;
  z-index: 1;
 

}
.Update {justify-content: center;padding: 5px;  margin-top: -15px;margin-right: 930px;}
.popup input{  margin-left: 60px;margin-top: -60;width: 60%;height: 30px;}
.popup textarea{  margin-left: 60px;margin-top: 5px;width: 60%;height: 50px;}
